{% load static %}
 <div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">
                                        <div class="sidebar-block">
                                            <div class="title-block">Categories</div>
                                            <div class="block-content">
                                                {% for category in categories %}
                                                    <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" onclick="addUrlParameter('cat', '{{ category.pk}}p')">{{ category.title }}</a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- best seller -->
                                        <div class="sidebar-block">
                                            <div class="new-item-content">
                                            </div>
                                            <div class="new-item-content">
                                                <h3 class="title-product">Manufacture</h3>
                                                <ul class="scroll-product">
                                                    {% for company in companies %}
                                                     <li>
                                                        <label class="check">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <a onclick="addUrlParameter('company', '{{ company.pk }}')">
                                                            <b>{{ company.title }}</b>
                                                            <span class="quantity">(30)</span>
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="tiva-filter-price new-item-content sidebar-block">
                                                <h3 class="title-product">By Price</h3>
                                                <div id="block_price_filter" class="block">
                                                    <div class="block-content">
                                                        <div id="slider-range" class="tiva-filter">
                                                            <div class="filter-itemprice-filter">
                                                                <div class="layout-slider">
                                                                    <input id="price-filter" name="price" value="0;100" />
                                                                </div>
                                                                <div class="layout-slider-settings"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sidebar-block by-color">
                                                <h3 class="title-product">By Color</h3>
                                                {% for color in colors %}
                                                    <div>
                                                    <span class="left">
                                                        <label class="color-item1"></label>
                                                        <a onclick="addUrlParameter('color', '{{ color.pk }}')">
                                                            <span>{{ color.color }}
                                                                <span>(30)</span>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- product tag -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                Product Tags
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    {% for tag in tags %}
                                                        <li>
                                                        <a onclick="addUrlParameter('tag', '{{ tag.pk }}')" title="Show products matching tag Hot Trend">{{ tags.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>